<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CPU Monitor</title>

  <link rel="stylesheet" href="../plugins/css/bootstrap.min.css">
  <link rel="stylesheet" href="../plugins/css/styles.css">

  <script>
    delete module.exports
  </script>

  <!-- plugins -->
  <script src="../plugins/js/jquery.min.js"></script>
  <script src="../plugins/js/bootstrap.min.js"></script>
  <script src="../plugins/js/Chart.bundle.min.js"></script>

  <!-- renderers -->
  <script src="../renderers/window.js"></script>
</head>

<body>
  
  <div class="container-fluid">
    <canvas class="chart"></canvas>
    <canvas class="chart2"></canvas>
  </div>

</body>
</html>

